<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <h1>My school</h1>
<h3>Teachers list...</h3>

<p><%= link_to 'New Teacher', new_teacher_path %></p>

<table class="table table-bordered", style="width: 40%">
  <tr>
    <th>Name</th>
    <th>School_Id</th>
    <th colspan="3"> Actions</th>
  </tr>
 
  <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.name %></td>
      <td><%= teacher.number %></td>
      <td><%= link_to 'Show student list', teacher_students_path(teacher), method: :get %></td>
      <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
      <td><%= link_to 'Destroy', teacher_path(teacher),
      method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        
    </tr>
  <% end %>
</table>

</body>
</html>